* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

#datetime-picker {
  padding: 5px;
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 20px;
  border: 2px solid #7763c5;
  border-radius: 4px;
  }

button[data-start],
button[data-stop] {
  padding: 6px;
  font-size: 20px;
  border-color: #7763c5;
  color: #000000;
  border-radius: 40%;
  box-shadow: rgba(99, 99, 182, 0.3) 0px 50px 100px -20px, rgba(0, 0, 0, 0.4) 0px 30px 60px -30px, rgba(98, 99, 202, 0.7) 0px -2px 6px 0px inset;
  
}

button[data-stop] {
  margin-left: 20px;
}

button[data-stop]:hover,
button[data-start]:hover{
  scale: 1.1;
}

.timer {
  display: flex;
  gap: 11px;
}

.field {
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
  color: #fafafa;
  background-color: #7763c5;
  border-radius: 5px;
}

.value {
  font-size: 25px;
  font-weight: 700;
}
